#image0{
  left: 30px;
	top: 100px;
}

#image1{
  left: 30px;
  top: 300px;
}

#image2{
  left: 30px;
  top: 500px;
}


img {
  position: absolute;
  width: 200px;
}

.sub {
  position: absolute;
  width: 300px;
  height: 90vh;
  border: 10px solid #ff0303;
}

.main {
  position: absolute;
  left: 300px;
  width: 700px;
  height: 90vh;
  border: 10px solid #000;
}

.active {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 10px solid #ff0303;
}


#cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 910;

  background: black;
  border-radius: 100%;
  background: -webkit-radial-gradient(100px 100px, circle, #5cabff, #000);
  background: -moz-radial-gradient(100px 100px, circle, #5cabff, #000);
  background: radial-gradient(100px 100px, circle, #5cabff, #000);
}
